In [1]:
from pathlib import Path

In [2]:
import sys
sys.executable

'/usr/bin/python3.9'

In [3]:
import pandas as pd

In [4]:
PATH_TO_DATA = Path("../../_static/data/assignment1")#Не могу, пока, разобраться, работает но не очень понятно

In [7]:
df = pd.read_csv("athlete_events.csv", index_col="ID")#Что-то с первой колонкой?

In [8]:
df.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
print(df.shape)

(271116, 14)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271116 entries, 1 to 135571
Data columns (total 14 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    271116 non-null  object
 1   Sex     271116 non-null  object
 2   Age     261642 non-null  float64
 3   Height  210945 non-null  float64
 4   Weight  208241 non-null  float64
 5   Team    271116 non-null  object
 6   NOC     271116 non-null  object
 7   Games   271116 non-null  object
 8   Year    271116 non-null  int64
 9   Season  271116 non-null  object
 10  City    271116 non-null  object
 11  Sport   271116 non-null  object
 12  Event   271116 non-null  object
 13  Medal   39783 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 31.0+ MB

In [8]:
import numpy as np

In [47]:
df[(df.Sex == "F") & (df.Year == 1992)]["Age"].min()

12.0

In [48]:
df[(df.Sex == "F") & (df.Year == 1992)]

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
332,Zarinah Abdullah,F,21.0,NaN,NaN,Singapore,SGP,1992 Summer,1992,Summer,Barcelona,Badminton,Badminton Women's Singles,NaN
422,"Julianne ""Anne"" Abernathy",F,38.0,165.0,75.0,United States Virgin Islands,ISV,1992 Winter,1992,Winter,Albertville,Luge,Luge Women's Singles,NaN
512,Shiny Kurisingal Abraham-Wilson,F,27.0,167.0,53.0,India,IND,1992 Summer,1992,Summer,Barcelona,Athletics,Athletics Women's 800 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,21.0,172.0,60.0,Unified Team,EUN,1992 Summer,1992,Summer,Barcelona,Tennis,Tennis Women's Singles,NaN
135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,21.0,172.0,60.0,Unified Team,EUN,1992 Summer,1992,Summer,Barcelona,Tennis,Tennis Women's Doubles,Bronze
135514,Tamara Zwart,F,17.0,167.0,57.0,Netherlands,NED,1992 Summer,1992,Summer,Barcelona,Synchronized Swimming,Synchronized Swimming Women's Solo,NaN
135514,Tamara Zwart,F,17.0,167.0,57.0,Netherlands,NED,1992 Summer,1992,Summer,Barcelona,Synchronized Swimming,Synchronized Swimming Women's Duet,NaN
135531,Sabine Beate Zwiener (-Jauchstetter),F,24.0,172.0,52.0,Germany,GER,1992 Summer,1992,Summer,Barcelona,Athletics,Athletics Women's 800 metres,NaN

In [60]:
df.loc[df.Year == "1992", "Sex"]

Series([], Name: Sex, dtype: object)

In [59]:
df[(df["Sex"] == "F") & (df["Year"] == 1992)]["Age"].min()

12.0

In [10]:
df[df["Year"] == 1992]["Age"].min()

11.0

In [11]:
y_par = df[df["Year"] == 1992].groupby("Sex")["Age"].agg(min)
print(f"{int(y_par.loc['M'])} and {int(y_par.loc['F'])}")

11 and 12

In [12]:
round(len(df[(df["Sex"] == "M") & (df["Year"] == 2012) & (df["Sport"] == "Basketball")].groupby("Name")) / \
len(df[(df["Sex"] == "M") & (df["Year"] == 2012)].groupby("Name")) * 100, 1)

2.5

In [71]:
q_bas = '(Sex == "M") & (Year == 2012) & (Sport == "Basketball")'
q_all = '(Sex == "M") & (Year == 2012)'
round(len(df.query(q_bas).groupby("Name")) / len(df.query(q_all).groupby("Name")) * 100, 1)

2.5

In [72]:
q = '(Sex == "M") & (Year == 2012) & (Sport == "Basketball")'
df.query(q).head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
664,Kieron Robert Achara,M,29.0,208.0,110.0,Great Britain,GBR,2012 Summer,2012,Summer,London,Basketball,Basketball Men's Basketball,NaN
3444,Al-Farouq Ajiede Aminu,M,21.0,211.0,98.0,Nigeria,NGR,2012 Summer,2012,Summer,London,Basketball,Basketball Men's Basketball,NaN

In [13]:
df[(df["Year"] == 2000) & (df["Sex"] == "F") & (df["Sport"] == "tennis")]

Empty DataFrame
Columns: [Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [14]:
df1 = df[(df["Year"] == 2000) & (df["Sex"] == "F") & (df["Sport"] == "Tennis")]
round(df1["Height"].agg([np.mean, np.std]), 1)

mean    171.8
std       6.5
Name: Height, dtype: float64

In [15]:
df[(df["Year"] == 2006)].sort_values(by = "Weight", ascending = False).iloc[0][12]

"Skeleton Men's Skeleton"

In [16]:
len(df[df["Name"] == "John Aalberg"].groupby("Year"))

2

In [17]:
len(df[(df["Year"] == 2008) & (df["Team"] == "Switzerland") & (df["Sport"] == "Tennis") & (df["Medal"] == "Gold")])

2

In [18]:
len(df[(df["Year"] == 2016)&(df["Team"] == "Italy")&(df["Medal"] == 0)])

0

In [19]:
if len(df[(df["Year"] == 2016)&(df["Team"] == "Italy")&\
       ((df["Medal"] == "Gold")^(df["Medal"] == "Silver")^(df["Medal"] == "Bronze"))]) - \
   len(df[(df["Year"] == 2016)&(df["Team"] == "Spain")&\
       ((df["Medal"] == "Gold")^(df["Medal"] == "Silver")^(df["Medal"] == "Bronze"))]) > 0:
    print("Yes")
else:
    print("No")

Yes

In [20]:
df_o = df[(df["Age"] >= 45)&(df["Age"] <= 55)]

In [21]:
df_s1 = df[(df["Age"] >= 25)&(df["Age"] < 35)]

In [22]:
df_s2 = df[(df["Age"] >= 35)&(df["Age"] < 45)]

In [23]:
df_y = df[(df["Age"] >= 15)&(df["Age"] < 25)]

In [24]:
if len(df[(df["Age"] >= 45)&(df["Age"] <= 55)]) > len(df[(df["Age"] >= 25)&(df["Age"] < 35)]):
    print("[45-55] > [25-35) correspondingly")
else:
    print("[45-55] < [25-35) correspondingly")
if len(df[(df["Age"] >= 45)&(df["Age"] <= 55)]) > len(df[(df["Age"] >= 15)&(df["Age"] < 25)]):  
    print("[45-55] > [15-25) correspondingly")
else:
    print("[45-55] < [15-25) correspondingly")
if len(df[(df["Age"] >= 35)&(df["Age"] <= 45)]) > len(df[(df["Age"] >= 25)&(df["Age"] < 35)]):
    print("[35-45) > [25-35) correspondingly")
else:
    print("[35-45) > [25-35) correspondingly")
if len(df[(df["Age"] >= 45)&(df["Age"] <= 55)]) > len(df[(df["Age"] >= 35)&(df["Age"] < 45)]):    
    print("[45-55] > [35-45) correspondingly")
else:
    print("[45-55] > [35-45) correspondingly")

[45-55] < [25-35) correspondingly
[45-55] < [15-25) correspondingly
[35-45) > [25-35) correspondingly
[45-55] > [35-45) correspondingly

In [25]:
df.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [26]:
if len(df[(df["Season"] == "Summer")&(df["City"] == "Atlanta")]) > 0:
    a = "Yes" + ","
else:
    a = "No" + ","
if len(df[(df["Season"] == "Winter")&(df["City"] == "Squaw Valley")]) > 0:
    b = "Yes"
else:
    b = "No"
print(a, b)

Yes, Yes

In [27]:
df[(df["Season"] == "Winter")&(df["City"] == "S")]

Empty DataFrame
Columns: [Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [28]:
df[(df["Season"] == "Summer")&(df["City"] == "Atlanta")]

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
13,Minna Maarit Aalto,F,30.0,159.0,55.5,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Women's Windsurfer,NaN
30,Pepijn Aardewijn,M,26.0,189.0,72.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Lightweight Double Sculls,Silver
33,Mika Lauri Aarnikka,M,28.0,187.0,76.0,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Men's Two Person Dinghy,NaN
36,Stefan Remco Aartsen,M,21.0,194.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Butterfly,NaN
36,Stefan Remco Aartsen,M,21.0,194.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Butterfly,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,25.0,172.0,60.0,Belarus,BLR,1996 Summer,1996,Summer,Atlanta,Tennis,Tennis Women's Singles,NaN
135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,25.0,172.0,60.0,Belarus,BLR,1996 Summer,1996,Summer,Atlanta,Tennis,Tennis Women's Doubles,NaN
135523,"Ronald Ferdinand ""Ron"" Zwerver",M,29.0,200.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Men's Volleyball,Gold
135535,Claudia Antoinette Zwiers,F,22.0,181.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Judo,Judo Women's Middleweight,Bronze
135545,Henk Jan Zwolle,M,31.0,197.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Coxed Eights,Gold

In [42]:
abs(len(df[(df["Year"] == 1994)].groupby("Sport")) - len(df[(df["Year"] == 2002)].groupby("Sport")))

3

In [41]:
len(df[(df["Year"] == 2002)].groupby("Sport"))

15

In [40]:
df[(df["Year"] == 1994)]["Sport"]

ID
5                Speed Skating
5                Speed Skating
6         Cross Country Skiing
6         Cross Country Skiing
6         Cross Country Skiing
                  ...
135483              Ice Hockey
135509                Biathlon
135509                Biathlon
135559           Speed Skating
135559           Speed Skating
Name: Sport, Length: 3160, dtype: object

In [87]:
import time

In [129]:
def test1():
    print(len(df[df["Name"] == "John Aalberg"].groupby("Year")))

In [130]:
def test2():
    print(len(df[df["Name"] == "John Aalberg"].drop_duplicates(subset = "Year"). Year))

In [131]:
%time test1()

2
CPU times: user 36.4 ms, sys: 0 ns, total: 36.4 ms
Wall time: 34.9 ms

In [132]:
%time test2()

2
CPU times: user 43.5 ms, sys: 0 ns, total: 43.5 ms
Wall time: 42.3 ms

In [135]:
df.query('(Year == 2016) & (Team == "Spain")').dropna(subset=["Medal"]).shape[0]

43

In [93]:
def test2():
    i = df[df.Year == 2006].Weight.idxmax() #It's quickly than sorted, I think
    print(df[df.Year == 2006].loc[i].Sport)

In [137]:
len(df[(df["Age"] >= 35)&(df["Age"] < 45)])

15111

In [143]:
df.head(10)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

In [146]:
def age_cat(age):
    if  45 <= age <= 55:
        return "[45, 55]"
    if  35 <= age < 45:
        return "[35, 45)"
    if  25 <= age < 35:
        return "[25, 35)"
    if  15 <= age < 25:
        return "[15, 25)"
    return

In [155]:
def age_cat(age):
    if  45 <= age <= 55:
        return "4"
    if  35 <= age < 45:
        return "3"
    if  25 <= age < 35:
        return "2"
    if  15 <= age < 25:
        return "1"
    return

In [156]:
age_cats = [age_cat(age) for age in df.Age]

In [159]:
df["categ"] = age_cats

In [160]:
df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Категории_по_годам,categ
ID,,,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,1,1
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,1,1

In [176]:
df[df.Year == 2008].drop_duplicates(subset = "Name")["categ"].value_counts()

2    5373
1    4776
3     630
4      78
Name: categ, dtype: int64